<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./assets/css/instruction-css.css">
    
    </head>
    <body>
        <!-- Logo -->
<center><img style="margin-top:50px;" src="Code with Bhai.png"></img>
</center>
<!-- Content -->
<div id="content">
   <h1 style="padding-left:25px;">Instructions and Rules</h1>
   <p>Rules may be updated due time if needed.</p>
   <p>If you do not comply or follow these rules there will be a punishment depending on the severity of the rulebreak.</p>

   <br />
   <p style="font-size:18px;"><strong>General Rules:</strong></p>
   <ul style="list-style-type:circle">
    <li>It is an individual competition comprising of a single round (3 Questions).</li>
      <li>The time limit for the competition is 30 minutes.</li>
      <li>You will be given a set of code snippets and Bhailang syntaxes.</li>
      <li>You have to convert the code snippets (given in Python, Java, C++, etc,) to Bhailang in the given time limit.</li>
      <li>If two participants convert the same number of codes then the time required will be taken into consideration.</li>
      <li>No extra time will be provided under any circumstances.</li>
      <li>Plagiarism check will be applicable on the submited code.</li>
      <li>Participant found cheating/misbehaving will be disqualified from any event he/she has enrolled for.</li>
      <li>Mobile phones, Smartwatches are strictly prohibited.</li>
      <li>The one who converts maximum snippets into Bhailang wins.</li>
      <li>For any queries contact the event volunteers who will be there during the competition.</li>
   </ul>
   <br />
   <p style="font-size:18px;"><strong>Disclaimer</strong></p>
   <ul style="list-style-type:circle">
      <li>The contest is intended to foster social, educational and intellectual goals. Contestants are expected to enter into the spirit of this and approach the contest as an enjoyable, fun activity.</li>
      
   </ul>
   

<div class="container">
    <button class="btn" onclick="change()">
      <span class="text"> <a href="/question">Start</a> </span>
    </button>
  </div>
    <br />
    </body>

    
</html>