<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./assets/css/instruction-css.css">
    
    </head>
    <body>
        <!-- Logo -->
<center><img style="margin-top:50px;" src="Code with Bhai.png"></img>
</center>
<!-- Content -->
<div id="content">
   <h1 style="padding-left:25px;">Instructions and Rules</h1>
   <p>Rules may be updated due time if needed.</p>
   <p>If you do not comply or follow these rules there will be a punishment depending on the severity of the rulebreak.</p>

   <br />
   <p style="font-size:18px;"><strong>General Rules:</strong></p>
   <ul style="list-style-type:circle">
    <li>It is an individual competition comprising of a single round (3 Questions).</li>
      <li>The time limit for the competition is 30 minutes.</li>
      <li>There is <b>only one</b> submission for each question.</li>
      <li>You will be given a set of code snippets and Bhailang syntaxes.</li>
      <li>You have to convert the code snippets (given in Python, Java, C++, etc,) to Bhailang in the given time limit.</li>
      <li>If two participants convert the same number of codes then the time required will be taken into consideration.</li>
      <li>No extra time will be provided under any circumstances.</li>
      <li>Plagiarism check will be applicable on the submited code.</li>
      <li>Participant found cheating/misbehaving will be disqualified from any event he/she has enrolled for.</li>
      <li>Mobile phones, Smartwatches are strictly prohibited.</li>
      <li>The one who converts maximum snippets into Bhailang wins.</li>
      <li>For any queries contact the event volunteers who will be there during the competition.</li>
   </ul>
   <br>
   <p style="font-size:18px;"><strong>Key Terminologies

    :</strong></p>
   <ul style="list-style-type:circle">
    <li> <b>Entry & Exit point:</b> A program must begin with a hi bhai and end with a bye bhai. </li>
          <pre>hi bhai
      // Your Code
bye bhai
      </pre>
      <li><b>Variables:</b> Variables are declared with "bhai ye hai"</li>
    <pre>
bhai ye hai a = 3;
    </pre>
      <li><b>Datatype: </b>Numbers and strings are just like any other language. Null values are indicated with nalla. Sahi and Galat represent boolean values.</li>
      <pre>
bhai ye hai c = nalla; 
      </pre>
      <li><b>Output: </b>Any console output can be printed with bol Bhai.</li>
    <pre>
bol bhai "Hello World";
    </pre>
      <li><b>Conditionals:</b> If the condition is Sahi (True), then the agar bhai (if) block will be executed, and if the condition is galat (false), then the warna bhai (else)  block will be executed.</li>
      <li> <b>Loops:</b> Jab tak bhai blocks execute statements as long as a specified condition evaluates to sahi (true). Upon reaching galat, the statement within the loop stops executing, and control passes to the statement following the loop.</li>
      <li> <b>Control Statements:</b> Break the loop with <b>bas kar bhai</b>  (break) and continue within it with <b>agla dekh bhai</b>  (continue).</li>
      <pre>
<b>Loop example</b> 

jab tak bhai (//CONDITION)
  {
    // Your CODE
    agar bhai (a == 5) 
    {
      bol bhai "andar se bol bhai ", a;
      agla dekh bhai;
     }
  }</pre>

  <pre>
<b>If-Else Condition</b> 

agar bhai (a == 5) 
  {
    bol bhai "andar se bol bhai ", a;
    agla dekh bhai;
  }
agar bhai (a == 6) 
  {
    bas kar bhai;
  }
  </pre>
     



      <!-- <li> <b>Errors:</b> It throws a syntax error with Kya kar rha hai tu statement. </li> -->
      

      
     
   </ul>
   <br />
   <p style="font-size:18px;"><strong>Disclaimer</strong></p>
   <ul style="list-style-type:circle">
      <li>The contest is intended to foster social, educational and intellectual goals. Contestants are expected to enter into the spirit of this and approach the contest as an enjoyable, fun activity.</li>
      
   </ul>
   

<div class="container">
    <button class="btn" onclick="change()">
      <span class="text"> <a href="/question">Start</a> </span>
    </button>
  </div>
    <br />
    </body>

    
</html>