<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />


  <link href="https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap" rel="stylesheet">


  <link rel="stylesheet" href="/question-page11.css">

  <title>Bhai | Q1</title>
</head>

<body>
  <h2>SLIDE NEXT FOR CODE SNIPPETS.</h2>
  <P>The code snippets are available in Python and C++ .<br>

    You can refer any one of the code snippet in which you are comfortable.</P>

  <div id="parent">
    <div class="carousel-wrapper">
      <span id="item-1"></span>
      <span id="item-2"></span>
      <span id="item-3"></span>
      <div class="carousel-item item-1">
        <a href="#item-2" class="arrow-prev arrow"></a>
        <a href="#item-2" class="arrow-next arrow"></a>
        
      </div>

      <div class="carousel-item item-2">
        <a href="#item-1" class="arrow-prev arrow"></a>
        <a href="#item-1" class="arrow-next arrow"></a>
      </div>


    </div>


    <div id="textform">
      <form action="/question/question1" method="post">
        <div class="form-floating text-id">

          <h1> Code Here !!</h1>
          <textarea id="my-textarea" placeholder="// Bhai Idhar Likh 
// Your Code will get disappeared If you go back without submitting" name="textinput" rows="40" cols="60"></textarea>
          
          <!-- <button id="submitButton" onclick="myFunction()" type="create" class="btn btn-primary start">
            <i class="glyphicon glyphicon-upload"></i>
            <span>Submit</span>
          </button> -->
          <button id="submitButton" onclick="myFunction()" type="create" class="btn btn-primary start">
            <i class="glyphicon glyphicon-upload"></i>
            <span>Submit</span>
          </button>

        </div>
      </form>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>

  <script>


    // function myFunction() {
    //   window.close();
    // }

    function enableTab(id) {
      var el = document.getElementById(id);
      el.onkeydown = function (e) {
        if (e.keyCode === 9) { // tab was pressed

          // get caret position/selection
          var val = this.value,
            start = this.selectionStart,
            end = this.selectionEnd;

          // set textarea value to: text before caret + tab + text after caret
          this.value = val.substring(0, start) + '\t' + val.substring(end);

          // put caret at right position again
          this.selectionStart = this.selectionEnd = start + 1;

          // prevent the focus lose
          return false;

        }
      };
    }

    // Enable the tab character onkeypress (onkeydown) inside textarea...
    // ... for a textarea that has an `id="my-textarea"`
    enableTab('my-textarea');
  </script>
</body>

</html>