body {
    background-color:#1A1A1A;
    margin:0;
    color:#9E9E9E;
    font-family: 'Roboto', sans-serif;
 }
 
 a {
    color:#ede7e7;
    text-decoration:none;
 }
 
 a:hover {
    color:#5cce58;
    text-decoration:none;
 }
 
 #content {
    margin-right:auto;
    border-radius:5px;
    background-color:#262626;
    margin-left:auto;
    margin-top:50px;
    width:65%;
    height:auto;
    padding:15px;
    border: 3px solid #2E2E2E;
    margin-bottom:50px;
 }
 
 p {
    font-size:12px;
    padding-left:35px;
 }
 
 ul {
    padding-left:70px;
 }
 
 li {
    margin-bottom:10px;
 }
 

 .btn {
   width: 120px;
   height: 35px;
   border-radius: 40px;
   border: 2px solid rgb(93, 210, 219);
   background-color: grey;
   /* color: grey; */
   outline: none;
   cursor: pointer;
   margin-left: 85%;
 }

 .btn:hover{

   font-weight: bold;
   font-size: large;
 }
 
 .container.active .btn a{
    animation: animate-line 0.3s ease-in, spinner 0.5s infinite;
    animation-delay: 0.1s, 0.5s;
   -webkit-animation-fill-mode: forwards;
 }
 
 .container.active .text a {
   display: none;
   font-size: 20px;
 }
 
 @keyframes animate-line {
   0% {
     width: 300px;
   }
   
   100% {
     width: 60px;
     border-bottom-color: transparent;
     border-right-color: transparent;
   }
 
 }
 
 @keyframes spinner {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
 }
