html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    /* background: linear-gradient(lightblue, white); */
  }
  
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgb(83, 65, 106);
    box-sizing: border-box;
    
    border-radius: 10px;
    opacity: 70%;
  }

  .login-box:hover{
    box-shadow: 0 20px 25px rgba(39, 81, 87, 0.915);
    
  }
  
  .login-box h1 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }

  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #fff;
    font-size: 12px;
  }
  

  .text
  {
    color: red;
  }
  .login-box button:hover {
    background: rgb(83, 65, 106);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px aqua,
                0 0 20px aqua,
                0 0 20px aqua,
                0 0 10px aqua;
  }
  
  .login-box button  {
    position: absolute;
    display: block;
    width: 100px;
    height: 30px;
    border-radius: 10px;
  }

  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }

  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }